<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict><key>name</key><string>Минск</string><key>description</key><string>Столица Беларуси, крупнейший город страны</string><key>latitude</key><real>53.9045</real><key>longitude</key><real>27.5615</real><key>facts</key><string>Впервые упоминается в 1067 году</string><key>imageName</key><string>minsk</string></dict>
<dict><key>name</key><string>Борисов</string><key>description</key><string>Город на реке Березина</string><key>latitude</key><real>54.2279</real><key>longitude</key><real>28.5055</real><key>facts</key><string>Известен Борисовской битвой 1812 года</string><key>imageName</key><string>borisov</string></dict>
<dict><key>name</key><string>Солигорск</string><key>description</key><string>Центр калийной промышленности</string><key>latitude</key><real>52.7873</real><key>longitude</key><real>27.5411</real><key>facts</key><string>Крупнейший производитель калийных удобрений</string><key>imageName</key><string>soligorsk</string></dict>
<dict><key>name</key><string>Молодечно</string><key>description</key><string>Город на реке Уша</string><key>latitude</key><real>54.3167</real><key>longitude</key><real>26.8500</real><key>facts</key><string>Известен фестивалем белорусской песни</string><key>imageName</key><string>molodechno</string></dict>
<dict><key>name</key><string>Жодино</string><key>description</key><string>Город машиностроителей</string><key>latitude</key><real>54.0983</real><key>longitude</key><real>28.3325</real><key>facts</key><string>Здесь находится БЕЛАЗ</string><key>imageName</key><string>zhodino</string></dict>
<dict><key>name</key><string>Слуцк</string><key>description</key><string>Древний город на реке Случь</string><key>latitude</key><real>53.0273</real><key>longitude</key><real>27.5597</real><key>facts</key><string>Известен Слуцкими поясами</string><key>imageName</key><string>slutsk</string></dict>
<dict><key>name</key><string>Вилейка</string><key>description</key><string>Город на водохранилище</string><key>latitude</key><real>54.4917</real><key>longitude</key><real>26.9167</real><key>facts</key><string>Крупнейшее водохранилище Беларуси</string><key>imageName</key><string>vileyka</string></dict>
<dict><key>name</key><string>Дзержинск</string><key>description</key><string>Город-спутник Минска</string><key>latitude</key><real>53.6833</real><key>longitude</key><real>27.1333</real><key>facts</key><string>Назван в честь Феликса Дзержинского</string><key>imageName</key><string>dzerzhinsk</string></dict>
<dict><key>name</key><string>Логойск</string><key>description</key><string>Город с горнолыжным курортом</string><key>latitude</key><real>54.3500</real><key>longitude</key><real>27.8333</real><key>facts</key><string>Популярный горнолыжный курорт</string><key>imageName</key><string>logoysk</string></dict>
<dict><key>name</key><string>Заславль</string><key>description</key><string>Древний город-спутник Минска</string><key>latitude</key><real>53.9833</real><key>longitude</key><real>27.2667</real><key>facts</key><string>Основан в 985 году</string><key>imageName</key><string>zaslavl</string></dict>
<dict><key>name</key><string>Марьина Горка</string><key>description</key><string>Центр Пуховичского района</string><key>latitude</key><real>53.5167</real><key>longitude</key><real>28.1333</real><key>facts</key><string>Названа в честь Марины Мнишек</string><key>imageName</key><string>marina_gorka</string></dict>
<dict><key>name</key><string>Фаниполь</string><key>description</key><string>Город-спутник Минска</string><key>latitude</key><real>53.7667</real><key>longitude</key><real>27.3333</real><key>facts</key><string>Один из самых молодых городов Беларуси</string><key>imageName</key><string>fanipol</string></dict>
</array>
</plist>